/* body {
    background: url('./background.jpg') no-repeat 0 0;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    text-shadow: none!important;
    color: #555;
    padding-top: 25px;
} */
